<div class="fondoBlanco text-center">
    <img src="../Contenido/img/logos/logodisi_negro.png" width="30%" height="30%" />
    <div class="panel panel-default">
        <div class="fondosHeader titulosBlanco">FORMATO DE CONTACTO</div>
        <form name="formEnvia" class="panel-body">
            <div class="form-group">
                <input class="form-control labelAzul" placeholder="Empresa" name="empresa" ng-model="empresa"  type="text" required>
            </div>
            <div class="form-group">
                <input class="form-control labelAzul" placeholder="Ocupación" name="ocupacion" ng-model="ocupacion" type="text" required>
            </div>
            <div class="form-group">
                <input class="form-control labelAzul" placeholder="Nombre de Contacto" name="nombreContacto"  ng-model="nombreContacto" type="text" required>
            </div>
            <div class="form-group">
                <input class="form-control labelAzul" placeholder="Correo Electrónico" name="correo" ng-model="correo" type="text" required>
            </div>
            <div class="form-group">
                <input class="form-control labelAzul" placeholder="Teléfono Fijo" name="telFijo" ng-model="telFijo" type="text" required>
            </div>
            <div class="form-group">
                <input class="form-control labelAzul" placeholder="Teléfono Celular" name="telCel" ng-model="telCel" type="text" required>
            </div>
            <div class="form-group">
                <textarea class="form-control labelAzul" placeholder="¿A qué se dedica?" name="comentario" ng-model="comentario" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg" button-spinner="loading" ng-click="enviar()">Enviar</button>
            </div>
            <div>
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="6000" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <div class="form-group">
                <a href="" target="popup" onclick="window.open('http://172.16.1.29:86/','CHAT','width=600,height=400')"><img src="../Contenido/img/chat-icon.png" /></a>
            </div>
        </form>
    </div>
</div>