body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.fondoChat {
	position: relative;
    background-image: url("img/fondo2.png");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
}

.imagenDisi {
    position: relative;
    background-image: url("img/disi_peq.png");
    background-size: 100% 100%;
}

.titulosGra {
	font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 40px;
	color: #00a3e3;
}
