<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="accesible acelerar capitaltrabajo cercano certeza CFDI CFDIs clientes cobrahoy cobrar cobro confianza crecer crédito créditoproveedores cuentas cuentasporcobrar cuentasporpagar días dinero Disí DiSí disi efectivo efectivocuentas ejecutivo ejecutivos electrónico empresa empresario empresarios esperarfactoraje facturahoy facturas facturaselectrónicas financiamiento financiera flujo inaccesibles lejanos líneacrédito liquidez metasnegocio otorgartecrédito paga pagan plazo plazoscomerciales plazosdepago poder posibilidad préstamos proceso producto proveedor pyme recurso recursos recursos líquidos seguridad servicioenlínea servicio personalizado solución trámitesdebanco trato vende vender ventas" />
    <meta name="description" content="accesible acelerar capitaltrabajo cercano certeza CFDI CFDIs clientes cobrahoy cobrar cobro confianza crecer crédito créditoproveedores cuentas cuentasporcobrar cuentasporpagar días dinero Disí DiSí disi efectivo efectivocuentas ejecutivo ejecutivos electrónico empresa empresario empresarios esperarfactoraje facturahoy facturas facturaselectrónicas financiamiento financiera flujo inaccesibles lejanos líneacrédito liquidez metasnegocio otorgartecrédito paga pagan plazo plazoscomerciales plazosdepago poder posibilidad préstamos proceso producto proveedor pyme recurso recursos recursos líquidos seguridad servicioenlínea servicio personalizado solución trámitesdebanco trato vende vender ventas" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <title>DiSí Operaciones</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Contenido/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Contenido/css/grayscale.css" rel="stylesheet">

    <!-- DISI CSS -->
    <link href="~/Contenido/css/styles.css" rel="stylesheet">

    <!-- Check CSS -->
    <link href="~/Contenido/css/check-radio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/Contenido/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Calibri:400,700" rel="stylesheet" type="text/css">

    <!--UiDialog Popups-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/css/ngDialog.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/css/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-ng-app="myApp" ng-controller="ctrlGeneric">
    @RenderBody()

    <!-- jQuery -->
    <script src="~/Contenido/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Contenido/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Contenido/js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Contenido/js/grayscale.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- Angular Controller -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-touch.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js"></script>
    <!-- UI-Bootstrap  -->
    <script src="//cdn.rawgit.com/angular-ui/ui-grid.info/gh-pages/release/3.0.6/ui-grid.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <!--UiDialog Popups-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/js/ngDialog.min.js"></script>
    <!--Angular Controller DISI-->
    <script src="~/Scripts/appAngularDisi.js"></script>

</body>
</html>
