@font-face {
    font-family: "HelveticaDisi";
    src: url("../fonts/HelveticaNeueLTStd-Md.otf") format("otf")
}
@font-face {
    font-family: "HelveticaDisiBold";
    src: url("../fonts/HelveticaNeueLTStd-Bd.otf") format("otf")
}

.fondoPages {
	position: relative;
	background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	padding: 1em 1em 1em 1em;
	cursor: default;
}

.fondoPages2 {
	background-image: url("../img/Fondo_Blanco.jpg");
    background-repeat: repeat;
	color: #fff;
	text-align: center;
	padding: 10em 1em 5em 1em;
	cursor: default;
}

.fondoPreguntas {
	position: relative;
    /**
	background-image: url("../img/detalles/fondoDetalleAzul.png");
    background-image: url("../img/detalles/fondoDetalles.jpg");
    background-color: white;
        */
    background-image: url("../img/detalles/fondoDetalles.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.fondoDetalles {
	position: relative;
    /**
	background-image: url("../img/detalles/fondoDetalleAzul.png");
    background-image: url("../img/detalles/fondoDetalles.jpg");
    background-color: white;
        */
    background-image: url("../img/detalles/fondoDetalleAzul.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.fondoDetalles2 {
	position: relative;
	background-image: url("../img/detalles/fondoDetalleAzul2.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.fondoDialog {
	position: relative;
	background-image: url("../img/fondo2.png");
    background-repeat: repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	padding: 1em 1em 1em 1em;
	cursor: default;
}

.fondosHeader {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: white;
    background: #00a3e3;
}

.titulosGra {
	font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
	color: #00a3e3;
}

.titulosGraBold {
	font-family: Montserrat, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
	color: #00a3e3;
}

.titulos {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
	color: #00a3e3;
}
.titulosPeq {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
	color: #00a3e3;
}

.labelAzul {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #00a3e3;
    font-size: 18px;
}

.titulosBlanco10 {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
	color: white;
}

.titulosBlanco15 {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
	color: white;
}

.titulosBlanco {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
	color: white;
}
.titulosBlancoBold {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
	color: white;
}

.inicio {  
    background-image: url("../img/btn_inicio.png");
    background-repeat: no-repeat;
    align-content:center;
}

.inicio:hover {
	background-image: url("../img/btn_inicio_over.png");
    background-repeat: no-repeat;
    align-content:center;
}

.herramientas {  
    background-image: url("../img/btn_herramientas.png");
    background-repeat: no-repeat;
    align-content:center;
}

.herramientas:hover {
	background-image: url("../img/btn_herramientas_over.png");
    background-repeat: no-repeat;
    align-content:center;
}

.panel1 {
    border-radius: 4px 63px 4px 63px;
    -moz-border-radius: 4px 63px 4px 63px;
    -webkit-border-radius: 4px 63px 4px 63px;
    border: 25px none #00a3e3;
}

.centerBody{
    align-content:center;
}

.fillImage {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.campaniasStyle {
  padding: 0.5em 1em 0.5em 0.5em;
}



#anima {
	margin: 0 auto;
}

#anima img {
	margin: 20px;
	border: 5px solid #eee;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

#anima img:hover {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
}
.fondoProblema {
	position: relative;
    background-image: url("../img/detalles/fondo_problema.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
    opacity: 0.9;
}
.fondoSolucion {
	position: relative;
    background-image: url("../img/detalles/fondo_solucion.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
    opacity: 0.9;
}

.fondoProductosFinan {
	position: relative;
    background-image: url("../img/detalles/fondo_pf.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
    opacity: 0.9;
}

.fondoProductosFinan2 {
	position: relative;
    background-image: url("../img/detalles/fondo_pf2.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
    opacity: 0.9;
}

.fondoNosotros {
	position: relative;
    background-image: url("../img/detalles/fondo_nosotros.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
    opacity: 0.9;
}

.fondoPreguntas {
	position: relative;
    background-image: url("../img/detalles/fondo_preguntas.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
    opacity: 0.8;
}

.transpDisi {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: alpha(opacity=60);
}

.chatDisi {
    background-image: url("../img/chat-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: alpha(opacity=60);
  /*
  background-color: rgba(0,0,0,.5) ;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#88ff0000', EndColorstr='#88ff0000');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#88ff0000', EndColorstr='#88ff0000');
  */
}