@font-face {
    font-family: "HelveticaDisi";
    src: url("../fonts/HelveticaNeueLTStd-Md.otf") format("otf")
}
@font-face {
    font-family: "HelveticaDisiBold";
    src: url("../fonts/HelveticaNeueLTStd-Bd.otf") format("otf")
}

.fondoPages {
	position: relative;
	background-image: url("../img/fondo.jpg");
    background-repeat: repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	padding: 5em 1em 5em 0em;
	cursor: default;
}

.fondoPages2 {
	background-image: url("../img/Fondo_Blanco.jpg");
    background-repeat: repeat;
	color: #fff;
	text-align: center;
	padding: 10em 1em 5em 1em;
	cursor: default;
}

.fondoPreguntas {
	position: relative;
    /**
	background-image: url("../img/detalles/fondoDetalleAzul.png");
    background-image: url("../img/detalles/fondoDetalles.jpg");
    background-color: white;
        */
    background-image: url("../img/detalles/fondoDetalles.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.fondoDetalles {
	position: relative;
    /**
	background-image: url("../img/detalles/fondoDetalleAzul.png");
    background-image: url("../img/detalles/fondoDetalles.jpg");
    background-color: white;
        */
    background-image: url("../img/detalles/fondoDetalleAzul.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.fondoDetalles2 {
	position: relative;
	background-image: url("../img/detalles/fondoDetalleAzul2.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.fondoDialog {
	position: relative;
	background-image: url("../img/fondo2.png");
    background-repeat: repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	padding: 1em 1em 1em 1em;
	cursor: default;
}

.fondosHeader {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	color: white;
    background: #00a3e3;
}

.titulosGra {
	font-family: HelveticaDisi;
    font-size: 30px;
	color: #00a3e3;
}

.titulosGraBold {
	font-family: HelveticaDisiBold;
    font-weight: bold;
    font-size: 35px;
	color: #00a3e3;
}

.titulos {
	font-family: HelveticaDisi;
    font-size: 20px;
	color: #00a3e3;
}
.titulosPeq {
	font-family: HelveticaDisi;
    font-size: 15px;
	color: #00a3e3;
}

.labelAzul {
	font-family: HelveticaDisi;
	font-weight: bold;
	color: #00a3e3;
    font-size: 18px;
}

.titulosBlanco {
	font-family: HelveticaDisi;
    font-size: 20px;
	color: white;
}
.titulosBlancoBold {
	font-family: HelveticaDisiBold;
    font-weight: bold;
    font-size: 20px;
	color: white;
}

.inicio {  
    background-image: url("../img/btn_inicio.png");
    background-repeat: no-repeat;
    align-content:center;
}

.inicio:hover {
	background-image: url("../img/btn_inicio_over.png");
    background-repeat: no-repeat;
    align-content:center;
}

.herramientas {  
    background-image: url("../img/btn_herramientas.png");
    background-repeat: no-repeat;
    align-content:center;
}

.herramientas:hover {
	background-image: url("../img/btn_herramientas_over.png");
    background-repeat: no-repeat;
    align-content:center;
}

.panel1 {
    border-radius: 4px 63px 4px 63px;
    -moz-border-radius: 4px 63px 4px 63px;
    -webkit-border-radius: 4px 63px 4px 63px;
    border: 25px none #00a3e3;
}

.centerBody{
    align-content:center;
}

