<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Chat DiSi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr") 
</head>
<body class="fondoChat">
    <div>
        @RenderBody()
        <img src="~/Content/img/disi_peq.png" />
        <h1 class="titulosGra">Bienvenido al <br /> Chat DiSi</h1>
        <p style="color: white">Estamos a tus Ordenes!!</p>
    </div>


    <script src="/lcsk/assets/js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/lcsk/assets/js/jquery.signalR-2.1.1.min.js" type="text/javascript"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
    <script src="/LCSK/chat.js" type="text/javascript"></script>
</body>
</html>
