<div class="row">
    <div class="col-md-8 text-center">
		<label class="btnPage">Cuestionario</label>
        <br /><br />
        <label class="titulos">Nos gustaría que empezaras por contestarte a ti mismo las siguientes preguntas, sólo te llevará unos pocos segundos:</label>
        <img  class="img-responsive" src="~/Contenido/img/new/linea_azul-lg.png"/>
        <br />
        <div><!--PREGUNTA_1-->
            <label class="titulosNegro"><strong>¿Tu negocio expide facturas a plazo?</strong></label><br />
            <label class="Form-label--tick">
                <input type="radio" value="1" name="r1" class="Form-label-radio"><span class="Form-label-text"><img src="~/Contenido/img/new/disi3.png"></span>
            </label>
            <label class="Form-label--tick">
                <input type="radio" value="2" name="r1" class="Form-label-radio"><span class="Form-label-text">Di no.</span>
            </label>
        </div><br />
        <div><!--PREGUNTA_2-->
            <label class="titulosNegro"><strong>¿Esos pagos a plazo hacen que necesites un flujo de efectivo?</strong></label><br />
            <label class="Form-label--tick">
                <input type="radio" value="1" name="r2" class="Form-label-radio"><span class="Form-label-text"><img src="~/Contenido/img/new/disi3.png"></span>
            </label>
            <label class="Form-label--tick">
                <input type="radio" value="2" name="r2" class="Form-label-radio"><span class="Form-label-text">Di no.</span>
            </label>
        </div><br />
        <div><!--PREGUNTA_3-->
            <label class="titulosNegro"><strong>¿Las opciones de préstamo son comunmente inaccesibles?</strong></label><br />
            <label class="Form-label--tick">
                <input type="radio" value="1" name="r3" class="Form-label-radio"><span class="Form-label-text"><img src="~/Contenido/img/new/disi3.png"></span>
            </label>
            <label class="Form-label--tick">
                <input type="radio" value="2" name="r3" class="Form-label-radio"><span class="Form-label-text">Di no.</span>
            </label>
        </div><br />
        <div><!--PREGUNTA_4-->
            <label class="titulosNegro"><strong>¿Los trámites de banco para otorgarte crédito son molestos?</strong></label><br />
            <label class="Form-label--tick">
                <input type="radio" value="1" name="r4" class="Form-label-radio"><span class="Form-label-text"><img src="~/Contenido/img/new/disi3.png"></span>
            </label>
            <label class="Form-label--tick">
                <input type="radio" value="2" name="r4" class="Form-label-radio"><span class="Form-label-text">Di no.</span>
            </label>
        </div><br />
        <div><!--PREGUNTA_5-->
            <label class="titulosNegro"><strong>¿Cuando más los necesitas los ejecutivos brillan por su ausencia?</strong></label><br />
            <label class="Form-label--tick">
                <input type="radio" value="1" name="r5" class="Form-label-radio"><span class="Form-label-text"><img src="~/Contenido/img/new/disi3.png"></span>
            </label>
            <label class="Form-label--tick">
                <input type="radio" value="2" name="r5" class="Form-label-radio"><span class="Form-label-text">Di no.</span>
            </label>
        </div><br />
        <div><!--PREGUNTA_6-->
            <label class="titulosNegro"><strong>¿Quisieras un servicio en línea para tener efectivo mientras te pagan tus facturas?</strong></label><br />
            <label class="Form-label--tick">
                <input type="radio" value="1" name="r6" class="Form-label-radio"><span class="Form-label-text"><img src="~/Contenido/img/new/disi3.png"></span>
            </label>
            <label class="Form-label--tick">
                <input type="radio" value="2" name="r6" class="Form-label-radio"><span class="Form-label-text">Di no.</span>
            </label>
        </div><br />
        <div class="text-center">
            <img class="img-responsive" src="~/Contenido/img/new/linea_azul-lg.png"/>
		    <label class="titulos">Si respondiste sí a 3 o más preguntas a ti te conviene acercarte a  <img src="~/Contenido/img/new/disi3.png"/> Llámanos estamos para servirte</label>
	    </div>
    </div>
    <div class="col-md-4 text-center">
        <a class="page-scroll" href="/Home/Contacto"><img src="~/Contenido/img/new/facturacion.png" width="30%" height="30%"/></a><br />
        <img src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Sección de noticias</label><br />
        <img  src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Crédito</label><br />
        <img  src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Pyme</label><br />
        <img src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Financiamiento</label><br />
        <img src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Liquidez</label><br />
        <img src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Facturas</label><br />
        <img src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">CFDI / CFDIs</label><br />
        <img src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Cuentas por cobrar</label><br />
        <img  src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Cuentas por pagar</label><br />
        <img  src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Factoraje</label><br />
        <img src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Capital de Trabajo</label><br />
        <img src="~/Contenido/img/new/linea_azul.png"/><br />
        <label class="labelAzul">Crédito proveedores</label><br />
    </div>
</div>