<form name="formEnvia" style="padding: 0 20px 0 20px">
    <h2 class="titulosBlanco">¡Contáctanos!</h2><br />
    <div class="form-group">
        <input class="form-control img-responsive labelAzul15" placeholder="Nombre(s):*" name="nombreContacto"  ng-model="nombreContacto" type="text" required>
    </div>
    <div class="form-group">
        <input class="form-control labelAzul15" placeholder="Apellido:*" name="ocupacion" ng-model="ocupacion" type="text" required>
    </div>    
    <div class="form-group">
        <input class="form-control labelAzul15" placeholder="Empresa:*" name="empresa" ng-model="empresa"  type="text" required>
    </div>
    <div class="form-group">
        <input class="form-control labelAzul15" placeholder="Correo:*" name="correo" ng-model="correo" type="text" required>
    </div>
    <div class="form-group">
        <input class="form-control labelAzul15" placeholder="Teléfono:*" name="telFijo" ng-model="telFijo" type="text" required>
    </div>
    @*<div class="form-group">
        <input class="form-control labelAzul15" placeholder="Teléfono Celular" name="telCel" ng-model="telCel" type="text" required>
    </div>*@
    <div class="form-group">
        <textarea class="form-control labelAzul15" placeholder="Comentarios:*" name="comentario" ng-model="comentario" rows="5" required></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success btn-lg" button-spinner="loading" ng-click="enviar()">Enviar</button>
    </div>
    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="6000" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    @*<div class="form-group">
        <a href="" target="popup" onclick="window.open('http://172.16.1.29:86/','CHAT','width=600,height=400')"><img src="../Contenido/img/chat-icon.png" /></a>
    </div>*@
</form>