<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </button>
            <a id="btnHome" class="navbar-brand page-scroll navbar-right" href="/"
                style="padding-top: 20px;">
                <img class="navbar-brand" src="~/Contenido/img/new/disiSinLey.png" style="padding-top: 0; margin-top: 0;">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden"><a href="#page-top"></a></li>
                <li><a class="page-scroll" style="padding-top: 20px;" href="/Home/Nosotros">Nosotros</a></li>
                <li><a class="page-scroll" style="padding-top: 20px;" href="/Home/Paraque">¿Para quién es Disí?</a></li>
                <li><a class="page-scroll" style="padding-top: 20px;" href="/Home/Cuestionario">Cuestionario</a></li>
                <li><a class="page-scroll" href="/Home/Contacto"><img src="~/Contenido/img/new/tel.jpg" /></a></li>
                <li><a class="page-scroll"><img src="~/Contenido/img/new/acceso_clientes.png" onclick="window.location.href='http://172.16.1.29:90/'"/></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <div class="cotainer">
        <hr class="hrCustom"/>
    </div>
    <!-- /.container -->
</nav>