<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden"><a href="#page-top"></a></li>
                <li><a class="page-scroll" style="padding-top: 20px;" href="/Home/Nosotros">Nosotros</a></li>
                <li><a class="page-scroll" style="padding-top: 20px;" href="/Home/Paraque">¿Para quién es Disí?</a></li>
                <li><a class="page-scroll" style="padding-top: 20px;" href="/Home/Cuestionario">Cuestionario</a></li>
                <li><a class="page-scroll" href="/Home/Contacto"><img src="~/Contenido/img/new/tel.jpg" /></a></li>
                <li><a class="page-scroll"><img src="~/Contenido/img/new/acceso_clientes.png" onclick="window.location.href='http://portal.disioperaciones.com/'"/></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <div class="cotainer">
        <hr class="hrCustom"/>
    </div>
    <!-- /.container -->
</nav>
<header class="intro">
    <div class="container text-center">
    <section class="col-md-12 col-sm-12 offer1 slideanim">
        <br />
        <br />
        <header>
            <p class="campaniasStyle">
                <img class="img-responsive center-block" src="~/Contenido/img/new/disiMed.png"  width="40%" height="0%"/>
            </p>
        </header>
        <img class="img-responsive center-block" src="~/Contenido/img/new/leyenda0.png"/>
        <br />
        <a class="page-scroll" href="/Home/Contacto">
            <img class="img-responsive  center-block" src="~/Contenido/img/new/facturacion.png" width="15%" height="15%"/>
        </a>
        <footer>
            <label class="titulosNegroST">Cuando tus facturas son a plazo....tu recurso es <img src="~/Contenido/img/new/disi3.png"/></label>
        </footer>
    </section>
    </div>
</header>