<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Disi disi factoraje credito simple notas de cedito" />
    <meta name="description" content="Disi disi factoraje credito simple notas de cedito" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <title>DiSi Operaciones</title>

    <!-- Bootstrap Core CSS -->
    <link href="Contenido/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="Contenido/css/grayscale.css" rel="stylesheet">

    <!-- DISI CSS -->
    <link href="Contenido/css/styles.css" rel="stylesheet">

    <!-- JSSOR -->
    <link href="Contenido/css/slider.css" rel="stylesheet">
    <!--CARRUSEL 1-->
    <link href="Contenido/css/carousel.css" rel="stylesheet">
    <!--CARRUSEL 2-->

    <!-- Custom Fonts -->
    <link href="Contenido/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!--UiDialog Popups-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/css/ngDialog.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/css/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-ng-app="myApp" ng-controller="ctrlGeneric">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"
                    style="padding-top: 7px;">
                    <img class="navbar-brand" src="Contenido/img/logos/logodisi_negro.png" style="padding-top: 0; margin-top: 0;">
                </a>
                <a class="navbar-brand page-scroll"
                    style="padding-top: 7px;">
                    <img class="navbar-brand" src="Contenido/img/new/btn_clientes.png" style="padding-top: 0; margin-top: 0;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a class="page-scroll" href="#contactos">Contacto</a></li>
                    <li><a class="page-scroll" href="#nosotros">Nosotros</a></li>
                    <!--<li><a class="page-scroll" onclick="window.open('pages/preguntas.html')">Faq</a></li>-->
                    <li><a class="page-scroll" href="#cuestionario">Cuestionario</a></li>
                    <li><a class="page-scroll" href="#aqui">Derechos y Privacidad</a></li>
                    <li><a class="page-scroll glyphicon glyphicon-arrow-up" href="#page-top"></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <header class="intro">
        <div class="container">
            <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1140px; height: 600px; overflow: hidden;">
                <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                    <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; background-color: #000; top: 0px; left: 0px; width: 100%; height: 100%;">
                    </div>
                    <div style="position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;">
                    </div>
                </div>
                <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1140px; height: 600px; overflow: hidden;">
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda0.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda1.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda2.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda3.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda4.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda5.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda6.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda7.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda8.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda9.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda10.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div u="image" class="offer slideanim">
                            <div class="row">
                                <div class="offer-grid">
                                    <section class="col-md-12 col-sm-12 offer1 slideanim">
                                        <br />
                                        <br />
                                        <header class="offer-info">
                                            <p class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                                            </p>
                                        </header>
                                        <img src="Contenido/img/new/leyenda11.png" width="70%" height="50%" />
                                        <footer>
                                            <a class="campaniasStyle titulosGraBold">
                                                <img src="Contenido/img/new/botonDisi.png" width="10%" height="10%" />
                                            </a>
                                        </footer>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
                    <div u="prototype"></div>
                </div>
                <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;"></span>
                <span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;"></span>
            </div>
        </div>
    </header>
    <section id="nosotros" class="fondoBlanco">
        <div class="container text-center" <h1>es la primer plataforma digital que ofrece a los pequeños y medianos empresarios liquidez inmediata por sus facturas por cobrar a plazo.</h1>>
            <section class="col-md-12 col-sm-12">
                <br />
                <br />
                <div></div>
                <header class="col-md-12 col-sm-12">
                    <img class="text-left" src="Contenido/img/logos/logodisi_negro.png" width="15%" height="15%" />
                    <img class="text-rigth" src="Contenido/img/new/botonDisi.png" width="15%" height="15%" />
                </header>
                <h1>es la primer plataforma digital que ofrece a los pequeños y medianos empresarios liquidez inmediata por sus facturas por cobrar a plazo.</h1>
                <footer>
                    
                </footer>
            </section>
        </div>
    </section>
    <section id="cuestionario" class="fondoBlanco">
        <br />
        <div class="container">
            <div class="col-md-6">
                <div style="background-color: #2D2B6B;" class="text-justify">
                    <label>
                        Leer las siguientes lineas te puede beneficiar mucho y solo te llevará unos pocos
	        segundos. Nos Gustaria que empezaras por contestarte a ti mismo las siguientes preguntas:<label>
                </div>
                <form>
                    <br />
                    <div style="text-align: center;" class="row">
                        <div class="row">
                            <label class="labelAzulRey"><strong>¿Tu negocio expide Facturas a plazo?</strong></label>
                            <br />
                            <label>
                                <input type="radio" name="radio1" class="minimal" />
                                <img src="ContenidoNew/img/logos/logodisi_negro.png" style="width: 60px; height: 40px;" />
                            </label>
                            <label style="color: #2D2B6B; font: menu;"><strong>ó </strong></label>
                            <input type="radio" name="radio1" class="minimal" />
                            <label style="color: #2D2B6B; font: menu;"><strong>Dí no</strong></label>
                        </div>
                        <div class="form-group">
                            <label class="labelAzulRey"><strong>¿Esos pagos a plazo hacen que necesitesun flujo de efectivo?</strong></label><br />
                            <label>
                                <input type="radio" name="radio2" class="minimal" />
                                <img src="ContenidoNew/img/logos/logodisi_negro.png" style="width: 60px; height: 40px;" />
                            </label>
                            <label style="color: #2D2B6B; font: menu;"><strong>ó </strong></label>
                            <input type="radio" name="radio2" class="minimal" />
                            <label style="color: #2D2B6B; font: menu;"><strong>Dí no</strong></label>
                        </div>
                        <div class="form-group">
                            <label class="labelAzulRey"><strong>¿Las opciones de prestamo son comunmente inaccesibles?</strong></label><br />
                            <label>
                                <input type="radio" name="radio3" class="minimal" />
                                <img src="ContenidoNew/img/logos/logodisi_negro.png" style="width: 60px; height: 40px;" />
                            </label>
                            <label style="color: #2D2B6B; font: menu;"><strong>ó </strong></label>
                            <input type="radio" name="radio3" class="minimal" />
                            <label style="color: #2D2B6B; font: menu;"><strong>Dí no</strong></label>
                        </div>
                        <div class="form-group">
                            <label class="labelAzulRey"><strong>¿Los tramites de banco para otorgarte credito son molestos?</strong></label><br />
                            <label>
                                <input type="radio" name="radio4" class="minimal" />
                                <img src="ContenidoNew/img/logos/logodisi_negro.png" style="width: 60px; height: 40px;" />
                            </label>
                            <label style="color: #2D2B6B; font: menu;"><strong>ó </strong></label>
                            <input type="radio" name="radio4" class="minimal" />
                            <label style="color: #2D2B6B; font: menu;"><strong>Dí no</strong></label>
                        </div>
                        <div class="form-group">
                            <label class="labelAzulRey"><strong>¿Cuando mas los necesitas los ejecutivo brillan por su aunsencia?</strong></label><br />
                            <label>
                                <input type="radio" name="radio5" class="minimal" />
                                <img src="ContenidoNew/img/logos/logodisi_negro.png" style="width: 60px; height: 40px;" />
                            </label>
                            <label style="color: #2D2B6B; font: menu;"><strong>ó </strong></label>
                            <input type="radio" name="radio5" class="minimal" />
                            <label style="color: #2D2B6B; font: menu;"><strong>Dí no</strong></label>
                        </div>
                        <div class="form-group">
                            <label class="labelAzulRey"><strong>¿Quisieras tener un servicio en linea para tener efectivo mientras te pagan tus facturas?</strong></label><br />
                            <label>
                                <input type="radio" name="radio67" />
                                <img src="ContenidoNew/img/logos/logodisi_negro.png" style="width: 60px; height: 40px;" />
                            </label>
                            <label style="color: #2D2B6B; font: menu;"><strong>ó </strong></label>
                            <input type="radio" name="radio6">
                            <label style="color: #2D2B6B; font: menu;"><strong>Dí no</strong></label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 text-center">
                <div class="row cuadroBorder">
                    <label style="text-align: center; line-height: 40px;">
                        Sección de noticias<br />
                        Crédito<br />
                        Pyme<br />
                        Financiamiento<br />
                        Liquidez<br />
                        Facturas<br />
                        Facturas Electronicas
					  <br />
                        CFDI CFDIs<br />
                        Cuentas por cobrar<br />
                        Cuentas por pagar<br />
                        Factoraje<br />
                        Capital de Trabajo<br />
                        Crédito de proovedores</label>
                </div>
            </div>
            <div>
                <label class="labelAzulRey">
                    <strong>Si dijiste 3 o mas preguntas a ti te conviene acercarte a </strong>
                    <img src="ContenidoNew/img/logos/logodisi_negro.png" style="width: 50px; height: 40px;" /><br />
                    <strong>Llamanos estamos para servirte</strong><h1>
            </div>
        </div>

    </section>
    <!--FOOTER-->
    <div class="fondoPages">
        <div class="row">sss
            <section id="contactos" class="container">
                <div class="col-md-3" data-ng-repeat="sucu in sucursales">
                    <article>
                        <header>
                            <h3>{{sucu.titulo}}</h3>
                        </header>
                        <img src="Contenido/img/LineaH.png">
                        <p class="titulosBlanco15">{{sucu.marcacion}}</p>
                        <p class="titulosBlanco15">{{sucu.tel1}}</p>
                        <p class="titulosBlanco15">{{sucu.tel2}}</p>
                        <p class="titulosBlanco15">{{sucu.tel3}}</p>
                    </article>
                </div>
                <div class="col-md-3">
                    <article class="fondoContacto">
                        <header>
                            <h3 class="titulosNegro">Contacto</h3>
                        </header>
                        <p>
                            <a href="mailto:disi@disioperaciones.com" id="A2" class="icon titulosBlanco15">disi@disioperaciones.com</a>
                        </p>
                        <header>
                            <h3 class="titulosNegro text-left">Encuéntranos</h3>
                        </header>
                        <div>
                            <a href="https://twitter.com/DisiCredito">
                                <img src="Contenido/img/s_twiter.png" /></a>
                            <a href="https://www.facebook.com/Disicredito">
                                <img src="Contenido/img/s_face.png" /></a>
                            <a>
                                <img src="Contenido/img/s_in.png" /></a>
                            <a>
                                <img src="Contenido/img/s_insta.png" /></a>
                        </div>
                    </article>
                </div>
            </section>
        </div>
        <hr />
        <hr />
        <div class="container text-center">
            <div class="menu">
                <a class="titulosBlanco15" href="Content/pdf/jsf.pdf" target="_blank">Aviso de privacidad</a> - 
                    <a class="titulosBlanco15" href="Content/pdf/jsf.pdf" target="_blank">UNE</a> - 
                    <a class="titulosBlanco15" href="Content/pdf/jsf.pdf" target="_blank">CONDUSEF</a> - 
                    <a class="titulosBlanco15" href="Content/pdf/jsf.pdf" target="_blank">CNBV</a> - 
                    <a class="titulosBlanco15" href="Content/pdf/jsf.pdf" target="_blank">SHCP</a>
            </div>
            <br />
            <div class="menu">
                <a class="row titulosBlancoBold">Disí Operaciones Empresariales SAPI de CV SOFOM ENR es una entidad financiera regulada y registrada en la CONDUSEF Y CNBV</a>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="Contenido/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="Contenido/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="Contenido/js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="Contenido/js/grayscale.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- Angular Controller -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-touch.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js"></script>
    <!-- UI-Bootstrap  -->
    <script src="//cdn.rawgit.com/angular-ui/ui-grid.info/gh-pages/release/3.0.6/ui-grid.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <!--UiDialog Popups-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/js/ngDialog.min.js"></script>
    <!--Angular Controller DISI-->
    <script src="Scripts/appAngularDisi.js"></script>
    <!--Carousel 1 JSSOR-->
    <script type="text/javascript" src="Contenido/js/jssor.slider.min.js"></script>
    <script type="text/javascript" src="Contenido/js/carousel.js"></script>

    <!--Carousel 2 JSSOR-->
    <script src="Contenido/js/docs.min.js"></script>
    <script src="Contenido/js/slider.js"></script>
    <script src="Contenido/js/ie10-viewport-bug-workaround.js"></script>

    <script>
        jssor_1_slider_init();
    </script>

</body>
</html>
