<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Disi disi factoraje credito simple notas de cedito Crédito, Pyme, Financiamiento" />
    <meta name="description" content="Disi disi factoraje credito simple notas de cedito Crédito, Pyme, Financiamiento" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <title>DiSí Operaciones</title>

    <!-- Bootstrap Core CSS -->
    <link href="Contenido/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="Contenido/css/grayscale.css" rel="stylesheet">

    <!-- DISI CSS -->
    <link href="Contenido/css/styles.css" rel="stylesheet">

    <!-- Check CSS -->
    <link href="Contenido/css/check-radio.css" rel="stylesheet">



    <!-- JSSOR 
    <link href="Contenido/css/slider.css" rel="stylesheet">
    <link href="Contenido/css/carousel.css" rel="stylesheet">
    <!--CARRUSEL 2-->

    <!-- Custom Fonts -->
    <link href="Contenido/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Calibri:400,700" rel="stylesheet" type="text/css">

    <!--UiDialog Popups-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/css/ngDialog.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/css/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-ng-app="myApp" ng-controller="ctrlGeneric">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="glyphicon glyphicon-menu-hamburger"></i>
                </button>
                <a id="btnHome" class="navbar-brand page-scroll navbar-right" href="#page-top"
                    style="padding-top: 20px;">
                    <img class="navbar-brand" src="Contenido/img/new/disiSinLey.png" style="padding-top: 0; margin-top: 0;">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a class="page-scroll" style="padding-top: 20px;" href="#nosotros">Nosotros</a></li>
                    <li><a class="page-scroll" style="padding-top: 20px;" href="#paraque">¿Para quién es Disí?</a></li>
                    <li><a class="page-scroll" style="padding-top: 20px;" href="#cuestionario">Cuestionario</a></li>
                    <li><a class="page-scroll" href="#contacto"><img src="~/Contenido/img/new/tel.jpg" /></a></li>
                    <li><a class="page-scroll"><img src="~/Contenido/img/new/acceso_clientes.png" onclick="window.location.href='http://172.16.1.29:90/'"/></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <div class="cotainer">
            <hr class="hrCustom"/>
        </div>
        <!-- /.container -->
    </nav>
    <header class="intro">
        <div class="container text-center">
        <section class="col-md-12 col-sm-12 offer1 slideanim">
            <br />
            <br />
            <header class="offer-info">
                <p class="campaniasStyle">
                    <img src="Contenido/img/new/disiMed.png" width="30%" height="30%" />
                </p>
            </header>
            <img src="Contenido/img/new/leyenda0.png" width="60%" height="60%" />
            <br />
            <a class="page-scroll" href="#contacto">
                <img src="Contenido/img/new/facturacion.png" width="10%" height="10%" />
            </a>
            <footer>
                <label class="titulosNegro" style="font-size:20px">Cuando tus facturas son a plazo....<strong>tu recurso es </strong><img style="width: 20%; height:20%;" src="Contenido/img/new/disiPeq.png"/></label>
            </footer>
        </section>
        </div>
    </header>
    <section id="nosotros" class="fondoBlanco">
        <div style="padding: 40px">
            <label> </label>
        </div>
        <div class="col-md-16 text-center">
			<label class="btnPage">¿Qué es <img src="Contenido/img/new/disiSinLeyPeq.png" style="width: 30%; height:30%;"> ? </label>
            <br /><br /><br />
            <label class="titulos text-justify" style="width:60%">Una solución financiera que permite convertir las facturas de las ventas a “plazo” en dinero en efectivo.</label>
            <br /><br />
            <label class="titulos text-justify" style="width:60%">Con el factoraje electrónico de DiSí, tu empresa recibe hoy el dinero de tus ventas a crédito; siempre tendrás la seguridad de tener los recursos necesarios para crecer tu negocio.</label>
	        <br/><br /><br />
			<div class="row fondoNew1">
			    <label class="titulosBlancoBold"><img src="Contenido/img/new/disi3.png"> es efectivo en facturas por cobrar</label>
			</div>
        </div>
    </section>
    <section id="facturahoy" class="fondoBlanco text-center">
        <div style="padding: 40px">
            <label> </label>
        </div>
        <div class="row">
            <div class="col-md-16">
			    <label class="titulosGra">Factura hoy, cobra hoy</label>
                <a class="page-scroll" href="#contacto"><imgsrc="Contenido/img/new/facturacion.png" width="8%" height="8%"/></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img ng-click="formulario();" src="Contenido/img/new/icono_paloma.png"/><br />
                <label class="titulos20">Aprobamos tu crédito <br /> 6 días</label>
            </div>
            <div class="col-md-4">
                <img ng-click="formulario();" src="Contenido/img/new/icono_billete.png"/><br />
                <label class="titulos20">Flujo de efectivo justo cuando <br />tú lo necesitas</label>
            </div>
            <div class="col-md-4">
                <img ng-click="formulario();" src="Contenido/img/new/icono_flechas.png"/><br />
                <label class="titulos20">Tu línea de crédito <br />disponible</label>
            </div>
        </div>
        <br />
        <div class="row">
            <label class="labelAzul">Tu empresa vende a plazo o a crédito a tus clientes y debes esperar entre 30 y 120 días para que te den tu dinero.</label>
        </div>
        <div class="row fondoNew1">
            <div class="container text-left">
                <label class="titulosBlanco leftCenter350"><img src="Contenido/img/new/disi3.png"> te da el poder de decir que SI</label><br />
            <label class="titulosBlanco leftCenter350"><img src="Contenido/img/new/disi3.png"> te da el poder de vender</label><br />
            <label class="titulosBlanco leftCenter350"><img src="Contenido/img/new/disi3.png"> a esa oportunidad que hará crecer tu negocio</label>
            </div>
            <hr style="width:80%" />
            <label class="titulosBlancoBold">Que nada te detenga: <img src="Contenido/img/new/disi3.png"></label><br />
        </div>
    </section>
    <section id="paraque" class="fondoBlanco">
        <div style="padding: 40px">
            <label> </label>
        </div>
        <div class="col-md-16 text-center">
			<label class="btnPage">¿Para quién es <img src="Contenido/img/new/disiSinLeyPeq.png" style="width: 20%; height:20%;"> ? </label>
            <br /><br /><br /><br />
            <label class="titulos text-justify" style="width:60%">Solución pensada en empresarios como tú que necesitan acelerar el flujo de efectivo de su empresa, evitando que tengan que esperar los plazos comerciales acordados con sus clientes para cobrar sus ventas.</label>
	        <br/><br /><br/><br />
			<div class="row fondoNew1">
			    <label class="titulosBlancoBold">Resulta irónico, pero los mejores clientes pagan a plazos.</label><br />
                <label class="titulosBlancoBold"><img src="Contenido/img/new/disi3.png"> Prepárate para ellos</label>
			</div>
        </div>
    </section>

    <section id="objetivos" class="fondoBlanco text-center">
        <div style="padding: 40px">
            <label> </label>
        </div>
        <div class="col-md-16">
            <label class="titulosGra text-center">Nuestros objetivos son:</label>
            <br /><br />
            <div class="text-left">
                <label class="titulos leftCenter350"><img src="~/Contenido/img/new/paloma_azul.png" width="30px" height="30px" /> Ser tu proveedor de recursos líquidos durante el plazo de cobro de facturas</label><br />
                <label class="titulos leftCenter350"><img src="~/Contenido/img/new/paloma_azul.png" width="30px" height="30px" /> Darte certeza para poder cumplir con las metas de ventas</label><br />
                <label class="titulos leftCenter350"><img src="~/Contenido/img/new/paloma_azul.png" width="30px" height="30px" /> Brindarte seguridad y confianza</label><br />
                <label class="titulos leftCenter350"><img src="~/Contenido/img/new/paloma_azul.png" width="30px" height="30px" /> Darle a tu negocio la posibilidad de decir que SÍ</label><br />
            </div>
            <br />
			<div class="row fondoNew2">
			    <label class="titulosBlanco40Bold text-center">¿Qué nos hace únicos?</label>
                <br /><br />
                <div class="text-left">
                    <label class="titulosBlanco25 leftCenter350"><img src="~/Contenido/img/new/paloma_blanca.png" width="30px" height="30px" /> Único producto de apoyo con recursos líquidos por cuentas por cobrar</label><br />
                    <label class="titulosBlanco25 leftCenter350"><img src="~/Contenido/img/new/paloma_blanca.png" width="30px" height="30px" /> Servicio personalizado de excelencia</label><br />
                    <label class="titulosBlanco25 leftCenter350"><img src="~/Contenido/img/new/paloma_blanca.png" width="30px" height="30px" /> Trámites y tiempos de respuesta ágiles</label><br />
                    <label class="titulosBlanco25 leftCenter350"><img src="~/Contenido/img/new/paloma_blanca.png" width="30px" height="30px" /> Proceso 100% en línea; tu dinero en 3 clicks</label><br />
                    <label class="titulosBlanco25 leftCenter350"><img src="~/Contenido/img/new/paloma_blanca.png" width="30px" height="30px" /> Dinero disponible mismo día</label>
			</div>
        </div>
        <div class="col-md-16 row fondoNew1">
            <label class="titulosBlancoBold text-center"> En pagos de facturas lejanos, tu ejecutivo <img src="Contenido/img/new/disi3.png"> siempre te dará un trato muy cercano.</label>
		</div>
    </section>
    <section id="cuestionario" class="fondoBlanco">
        <div style="padding: 40px">
            <label> </label>
        </div>
            @Html.Partial("_encuesta")
        <br />
        <div class="row">
            <div class="col-md-12 fondoNew1 text-center">
                <label class="titulosBlancoBold"><img src="Contenido/img/new/disi3.png">es efectivo en facturas por cobrar.</label>
            </div>
        </div>
    </section>

    <section id="yoempresario" class="fondoBlanco">
        <div style="padding: 40px">
            <label> </label>
        </div>
        <div class="row">
            <div class="col-md-6 text-right">
			    <img src="Contenido/img/new/disi1.png">
            </div>
            <div class="col-md-6 text-left">
                <label class="titulosNegro30">¡es efectivo en cuentas<br />por cobrar!</label><br />
                <img src="~/Contenido/img/new/linea_azul.png"/><br />
                <label class="titulosNegro30">¡a tener los recursos que <br />tu negocio necesita!</label><br />
                <img src="~/Contenido/img/new/linea_azul.png"/><br />
                <label class="titulosNegro30">¡te da el poder de decir que Sí!</label><br />
                <img src="~/Contenido/img/new/linea_azul.png"/><br />
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-12 text-center">
                <label class="labelAzul60">¡YO  </label>
                <label class="titulosNegro60"> empresario  +&nbsp</label>
                <img src="~/Contenido/img/new/disiSinLeyPeq.png" style="padding:0 0 50px 0">
                <label class="titulosNegro60">&nbsp =  mejor  </label>
                <label class="labelAzul60"> YO!</label>
                <br /><br />
                <label class="titulosNegro30">Que nada te detenga: <img src="Contenido/img/new/disi3.png"/></label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12 fondoNew1 text-center">
                <label class="titulosBlancoBold">Cuando no logras convencer a tu cliente de cambiar sus plazos de pago, recuerda….</label><br />
                <label class="titulosBlancoBold">El accesible es  <img src="~/Contenido/img/new/disi3.png"></label>
            </div>
        </div>
    </section>
    <section id="contacto" class="fondoBlanco">
        <div style="padding: 40px">
            <label> </label>
        </div>
        <div class="text-center">
            <label class="btnPage" style="width:400px">Contacto</label>
            <br /><br />
            <label class="fondoNew2">
                <div style="width:400px">
                    @Html.Partial("_formulario")
                </div>
            </label>
            <br /><br />
            <p>
                <a class="labelAzul40" href="mailto:disi@disioperaciones.com" id="A2" class="icon titulosBlanco15">disi@disioperaciones.com</a>
            </p>
        </div>
    </section>
    <!--FOOTER-->
    <div class="fondoBlanco">
        <div class="container text-center">
            <section id="contactos" class="row">
                <div class="col-md-12" data-ng-repeat="sucu in sucursales">
                    <article class="text-center">
                        <img src="~/Contenido/img/new/linea_azul.png"/>
                        <header>
                            <h3 class="titulosNegro30">{{sucu.titulo}}</h3>
                        </header>                    
                        <label class="titulosBlanco15">{{sucu.marcacion}}</label><br />
                        <label class="titulosBlanco15">{{sucu.tel1}}</label><br />
                        <label class="titulosBlanco15">{{sucu.tel2}}</label><br />
                        <label class="titulosBlanco15">{{sucu.tel3}}</label><br />
                    </article>
                </div>
            </section>
            <label class="labelAzul">La distancia más corta para tener efectivo de tus ventas a plazos es el servicio en línea de  <img src="Contenido/img/new/disi3.png"></label><br />
            <br />
            <img src="~/Contenido/img/new/linea_azul.png"/><br />
            <label class="titulosNegro30">Encuéntranos<br />
            <div>
                <a href="https://twitter.com/DisiCredito">
                    <img src="Contenido/img/s_twiter_azul.png" /></a>
                <a href="https://www.facebook.com/Disicredito">
                    <img src="Contenido/img/s_face_azul.png" /></a>
                <a>
                    <img src="Contenido/img/s_in_azul.png" /></a>
                <a>
                    <img src="Contenido/img/s_insta_azul.png" /></a>
            </div>
            <img src="~/Contenido/img/new/linea_azul.png"/>
        </div>
        <div class="text-center">
            <div class="menu">
                <a class="labelAzul" href="Contenido/img/new/Aviso de Privacidad DISI.pdf" target="_blank">Aviso de privacidad</a> - 
                    <a class="labelAzul" href="Contenido/img/new/AVISO DE EXISTENCIA DE LA UNIDAD ESPECIALIZADA.pdf" target="_blank">UNE</a> - 
                    <a class="labelAzul" href="http://www.condusef.gob.mx" target="_blank">CONDUSEF</a> - 
                    <a class="labelAzul" href="http://www.cnbv.gob.mx" target="_blank">CNBV</a> - 
                    <a class="labelAzul" href="http://www.hacienda.gob.mx" target="_blank">SHCP</a>
            </div>
            <br />
            <div class="menu fondoNew1">
                <a class="row titulosBlanco">Disí Operaciones Empresariales SAPI de CV SOFOM ENR es una entidad financiera regulada y registrada<br /> en la CONDUSEF Y CNBV</a>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="Contenido/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="Contenido/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="Contenido/js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="Contenido/js/grayscale.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- Angular Controller -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-touch.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js"></script>
    <!-- UI-Bootstrap  -->
    <script src="//cdn.rawgit.com/angular-ui/ui-grid.info/gh-pages/release/3.0.6/ui-grid.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <!--UiDialog Popups-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/js/ngDialog.min.js"></script>
    <!--Angular Controller DISI-->
    <script src="Scripts/appAngularDisi.js"></script>
    <!--Carousel 1 JSSOR
    <script type="text/javascript" src="Contenido/js/jssor.slider.min.js"></script>
    <script type="text/javascript" src="Contenido/js/carousel.js"></script>

    <script src="Contenido/js/docs.min.js"></script>
    <script src="Contenido/js/slider.js"></script>
    <script src="Contenido/js/ie10-viewport-bug-workaround.js"></script> 
    <script>
        jssor_1_slider_init();
    </script>
    -->

</body>
</html>
