@model IEnumerable<PortalDisi.Models.Campania>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tradeaux a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <title>DiSi Operaciones</title>

    <!-- Bootstrap Core CSS -->
    <link href="Contenido/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="Contenido/css/grayscale.css" rel="stylesheet">

    <!-- DISI CSS -->
    <link href="Contenido/css/styles.css" rel="stylesheet">

    <!-- JSSOR -->
    <link href="Contenido/css/slider.css" rel="stylesheet"> <!--CARRUSEL 1-->
    <link href="Contenido/css/carousel.css" rel="stylesheet"><!--CARRUSEL 2-->

    <!-- Custom Fonts -->
    <link href="Contenido/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!--UiDialog Popups-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/css/ngDialog.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/css/ngDialog-theme-default.min.css" rel="stylesheet" type="text/css">


</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-ng-app="myApp" ng-controller="ctrlGeneric">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll"  href="#page-top"
					style="padding-top: 7px;"><img class="navbar-brand" src="Contenido/img/logos/LOGO_DISI2.png" style="padding-top: 0; margin-top: 0;">
				</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden"><a href="#page-top"></a></li>
                    <li><a class="page-scroll" href="#problema">Problema</a></li>
					<li><a class="page-scroll" href="#solucion">Solución</a></li>
					<li><a class="page-scroll" href="#productos">Productos de Financiamiento </a></li>
					<li><a class="page-scroll" href="#nosotros">Nosotros</a></li>
                    <li><a class="page-scroll" onclick="window.open('pages/preguntas.html')">Faq</a></li>
					<li><a class="page-scroll" href="#aqui">Aqui esta la solución</a></li>
                    <li><a class="page-scroll glyphicon glyphicon glyphicon-cog" href="#herramientas"></a></li>
					<li><a class="page-scroll glyphicon glyphicon-user" href="#page-top"></a></li> 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <br /> <br /> <br /> <br /><br /> <br /> <br /> <br />
                    <div class="col-xs-20 col-xs-offset-7">
                        <a href="#brindamos" class="page-scroll">
                            <div class="inicio img-responsive">
                                <br /> <br /> <br /> <br />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section id="brindamos">
            <div class="fondoPages">
                <div class="row">
                  <div class="col-md-6">
                      <div>
                            <img src="Contenido/img/logos/logodisi_negro.png" width="50%" height="50%">
                        </div>
                  </div>
                  <div class="col-md-6">
                        <div class="slideanim titulosNegro">
                            <br />
                            <p>RECIBE EL DINERO DE TUS VENTAS A CRÉDITO</p>
                            <p>HOY MISMO.</p>
                        </div>
                        <br />
                        <div class="row slideanim text-center">
                            <div class="offer-info">
                                <h4>
                                    <a class="titulos" ng-click="formulario();">Aplica hoy mismo y empieza a invertir en las cosas que más importan..</a>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <a class="text-center" href="#herramientas">
                                    <div class="herramientas">
                                    <br /><br /> <br /> <br />
                                </div>
                            </a>
                        </div>
                  </div>
                <div class="row">
                  <div class="col-md-12">
                      <div>
                            <a>
                                <img class="img-responsive animated" alt="Personas" src="Contenido/img/personas.jpg" />
                            </a>
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <section id="problema" class="introProblem">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-xs-offset-4">
                        <div>
                            <img class="img-responsive animated" src="Contenido/img/canales/texto_problema.png" />
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-offset-4">
                        <a ng-click="formulario();"><img style="cursor:pointer" class="img-responsive" src="Contenido/img/canales/btn_problema.png" /></a>
                        <br /> 
                    </div>
                 </div>
            </div>
        </div>
    </section>

    <section id="solucion" class="introSolucion">
        <div class="intro-body">
            <div class="container">
               <div class="row">
                  <div class="col-md-10 col-xs-offset-4">
                    <div>
                        <img class="img-responsive animated" src="Contenido/img/canales/texto_solucion.png" />
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-offset-4">
                       <a ng-click="formulario();"><img style="cursor:pointer" class="img-responsive" src="Contenido/img/canales/btn_solucion.png" /></a>
                     <br /> 
                  </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="introProductosFinan" id="productos">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-14 col-xs-offset-4">
                            <div>
                                <img class="img-responsive animated" src="Contenido/img/canales/texto_pf.png" />
                            </div>
                            <br />
                        </div>
                        <div class="col-md-6 col-xs-offset-4">
                            <a ng-click="formulario();"><img style="cursor:pointer" class="img-responsive" src="Contenido/img/canales/btn_problema.png" /></a>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="introProductosFinan2" id="productos2">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-14 col-xs-offset-4">
                            <div>
                                <img class="img-responsive animated" src="Contenido/img/canales/texto_pf2.png" />
                            </div>
                            <br />
                        </div>
                        <div class="col-md-6 col-xs-offset-4">
                            <a ng-click="formulario();"><img style="cursor:pointer" class="img-responsive" src="Contenido/img/canales/btn_solucion.png" /></a>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="nosotros" class="introNosotros">
        <div class="intro-body">
           <div class="container">
                <div class="row">
                      <div class="col-md-10 col-xs-offset-4">
                        <div>
                            <img class="img-responsive animated" src="Contenido/img/canales/texto_nosotros.png" />
                        </div>
                      </div>
                    <div class="col-md-6 col-xs-offset-4">
                           <a onclick="window.open('pages/preguntas.html')"><img style="cursor:pointer"class="img-responsive" src="Contenido/img/canales/preguntas_icono.png" /></a>
                             <br />
                      </div>
                    <div class="row col-md-6 col-xs-offset-4">
                        <a ng-click="formulario();"><img style="cursor:pointer" class="img-responsive" src="Contenido/img/canales/btn_problema.png" /></a>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="aqui">
        <div class="offer slideanim">
            <div class="fondoPages row container">
                <div class="offer-grid">
                    <section class="col-md-6 col-sm-6 offer1 slideanim">
                        <br /><br />
                        <header class="offer-info">
                            <h2 class="titulosGraBold">Aquí está la solución.</h2>
                        </header>
                        <footer>
                            <p class="titulosNegro">Queremos conocerte y entender las necesidades de tu negocio.</p><br />
                            <p class="titulosNegro">Por favor llena el formulario y envíanos tus datos<a ng-click="formulario();" class="titulos">(aquí)</a></p><br />
                            <p class="titulosNegro">También escríbenos a<a ng-click="formulario();" class="titulos"></a><a href="mailto:disi@disioperaciones.com" id="mail" class="titulosNegro">disi@disioperaciones.com</a></p><br />
                            <p class="titulosNegro">Uno de nuestros ejecutivos se pondrá en contacto contigo.</p><br />
                        </footer>
                    </section>
                    <div class="col-md-6 col-sm-6 offer1 slideanim">
                        <div class="offer-icon">
                            <img class="img-responsive" src="Contenido/img/aqui.png" alt="Aquí">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />

  <section class="fondoPages" id="herramientas">
        <div class="container">
            <div id="slider1_container" style="visibility: hidden; position: relative; margin: 0 auto; width: 1140px; height: 600px; overflow: hidden;">
                <div u="loading" style="position: absolute; top: 0px; left: 0px;">
                    <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;

            background-color: #000; top: 0px; left: 0px;width: 100%; height:100%;">
                    </div>
                    <div style="position: absolute; display: block;

            top: 0px; left: 0px;width: 100%;height:100%;">
                    </div>
                </div>
 
                <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1140px; height: 550px;overflow: hidden;">
                    <div><img u="image" src="Contenido/img/carrusel/img_cotizacion.jpg" alt="Cotización" /></div>
                    <div><img u="image" src="Contenido/img/carrusel/img_creditoSimple.jpg" alt="Credito Simple" /></div>
                    <div><img u="image" src="Contenido/img/carrusel/img_estadoCuenta.jpg" alt="Estado de Cuenta" /></div>
                    <div><img u="image" src="Contenido/img/carrusel/img_factoraje.jpg" alt="Factoraje" /></div>
                    <div><img u="image" src="Contenido/img/carrusel/img_ordenCompra.jpg" alt="Orden de Compra" /></div>
                    <div><img u="image" src="Contenido/img/carrusel/img_pagos.jpg" alt="Pagos" /></div>
                    <div><img u="image" src="Contenido/img/carrusel/img_revolvente.jpg" alt="Revolvente" /></div>
                    @foreach (var item in Model)
                    {
                        <div> 
                            <div u="image" style="background-image: url(@Url.Content("Contenido/img/carrusel/campanias/" + item.imagen + "")); background-size: 100% 100%; height: 550px;" class="offer slideanim">
                                <div class="row">
                                    <div class="offer-grid">
                                        <section class="col-md-6 col-sm-6 offer1 slideanim">
                                            <br /><br />
                                            <header class="offer-info">
                                                <p class="campaniasStyle titulosGraBold">@(item.titulo)</p>
                                            </header>
                                            <footer>
                                                <p class="campaniasStyle titulosGra col-md-8 col-xs-offset-2">@(item.mensaje)</p>
                                            </footer>
                                            <br /><br /><br />
                                            <button class="btn btn-danger" ng-click="formularioDetalle(@Newtonsoft.Json.JsonConvert.SerializeObject(item));">MAS INFORMACION</button>
                                        </section>
                                        <div class="col-md-6 col-sm-6 offer1 slideanim">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>
                    }
                </div>
                <div u="navigator" class="jssorb05" style="bottom: 16px; right: 6px;">
                    <div u="prototype"></div>
                </div>
                <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;"></span>
                <span u="arrowright" class="jssora11r" style="top: 123px; right: 8px;"></span>
            </div>
        </div>
    </section>

    <!--FOOTER-->
     <div class="fondoFooter">
        <div class="row">
            <section id="features" class="container">
                <div class="col-md-4" data-ng-repeat="sucu in sucursales">
                    <article>
                        <header>
                            <h3>{{sucu.titulo}}</h3>
                        </header>
                        <img src="Contenido/img/LineaH.png">
                        <p class="titulosBlanco15">{{sucu.marcacion}}</p>
                        <p class="titulosBlanco15">{{sucu.tel1}}</p>
                        <p class="titulosBlanco15">{{sucu.tel2}}</p>
                        <p class="titulosBlanco15">{{sucu.tel3}}</p>
                    </article>
                </div>
                <div class="col-md-3">
                    <article class="fondoContacto">
                        <header>
                            <h3 class="titulosNegro">Contacto</h3>
                        </header>
                        <p>
                            <a href="mailto:disi@disioperaciones.com" id="A2" class="icon titulosBlanco15">disi@disioperaciones.com</a>
                        </p>
                        <header>
                            <h3 class="titulosNegro text-left">Encuéntranos</h3>
                        </header>
                        <div>
                            <a href="https://twitter.com/DisiCredito"><img src="Contenido/img/s_twiter.png" /></a>
                            <a href="https://www.facebook.com/Disicredito"><img src="Contenido/img/s_face.png" /></a>
                            <a><img src="Contenido/img/s_in.png" /></a>
                            <a><img src="Contenido/img/s_insta.png" /></a>
                        </div>
                    </article>
                </div>
            </section>  
        </div>
         <hr />
         <hr />
        <div class="container text-center">
                <div class="menu">
                    <a class="titulosBlanco15" href="Contenido/pdf/jsf.pdf" target="_blank">Aviso de privacidad</a> - 
                    <a class="titulosBlanco15" href="Contenido/pdf/jsf.pdf" target="_blank">UNE</a> - 
                    <a class="titulosBlanco15" href="Contenido/pdf/jsf.pdf" target="_blank">CONDUSEF</a> - 
                    <a class="titulosBlanco15" href="Contenido/pdf/jsf.pdf" target="_blank">CNBV</a> - 
                    <a class="titulosBlanco15" href="Contenido/pdf/jsf.pdf" target="_blank">SHCP</a>
                </div>
                <br />
                <div class="menu">
                    <p class="row titulosBlancoBold">Disí Operaciones Empresariales SAPI de CV SOFOM ENR es una entidad financiera regulada y registrada en la CONDUSEF Y CNBV</p>
                </div>
         </div>
    </div>


    <!-- jQuery -->
    <script src="Contenido/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="Contenido/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="Contenido/js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="Contenido/js/grayscale.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>    
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- Angular Controller -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-touch.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.min.js"></script>
    <!-- UI-Bootstrap  -->
    <script src="//cdn.rawgit.com/angular-ui/ui-grid.info/gh-pages/release/3.0.6/ui-grid.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <!--UiDialog Popups-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.5.9/js/ngDialog.min.js"></script>
    <!--Angular Controller DISI-->
    <script src="Scripts/appAngularDisi.js"></script>
    <!--Carousel 1 JSSOR-->
    <script type="text/javascript" src="Contenido/js/jssor.slider.min.js"></script>
    <script type="text/javascript" src="Contenido/js/carousel.js"></script>
    
    <!--Carousel 2 JSSOR-->
    <script src="Contenido/js/docs.min.js"></script>
    <script src="Contenido/js/slider.js"></script>
    <script src="Contenido/js/ie10-viewport-bug-workaround.js"></script>

    <script>
        jssor_1_slider_init();
    </script>

</body>
</html>
