<!-- Navigation -->
@Html.Partial("_menu")

<section id="nosotros" class="fondoBlanco">
    <div style="padding: 40px">
        <label> </label>
    </div>
    <div class="col-md-16 text-center">
		<label class="btnPage">¿Qué es <img src="~/Contenido/img/new/disiSinLeyPeq.png" style="width: 30%; height:30%;"> ? </label>
        <br /><br /><br />
        <label class="titulos text-justify" style="width:60%">Una solución financiera que permite convertir las facturas de las ventas a “plazo” en dinero en efectivo.</label>
        <br /><br />
        <label class="titulos text-justify" style="width:60%">Con el factoraje electrónico de DiSí, tu empresa recibe hoy el dinero de tus ventas a crédito; siempre tendrás la seguridad de tener los recursos necesarios para crecer tu negocio.</label>
	    <br/><br /><br />
		<div class="row fondoNew1">
			<label class="titulosBlancoBold"><img src="~/Contenido/img/new/disi3.png"> es efectivo en facturas por cobrar</label>
		</div>
    </div>
</section>
<section id="facturahoy" class="fondoBlanco text-center">
    <div style="padding: 40px">
        <label> </label>
    </div>
    <div class="row">
        <div class="col-md-16">
			<label class="titulosGra">Factura hoy, cobra hoy</label>
            <a class="page-scroll" href="#contacto"><imgsrc="~/Contenido/img/new/facturacion.png" width="8%" height="8%"/></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img ng-click="formulario();" src="~/Contenido/img/new/icono_paloma.png"/><br />
            <label class="titulos20">Aprobamos tu crédito <br /> 6 días</label>
        </div>
        <div class="col-md-4">
            <img ng-click="formulario();" src="~/Contenido/img/new/icono_billete.png"/><br />
            <label class="titulos20">Flujo de efectivo justo cuando <br />tú lo necesitas</label>
        </div>
        <div class="col-md-4">
            <img ng-click="formulario();" src="~/Contenido/img/new/icono_flechas.png"/><br />
            <label class="titulos20">Tu línea de crédito <br />disponible</label>
        </div>
    </div>
    <br />
    <div class="row">
        <label class="labelAzul">Tu empresa vende a plazo o a crédito a tus clientes y debes esperar entre 30 y 120 días para que te den tu dinero.</label>
    </div>
    <div class="row fondoNew1">
        <div class="container text-left">
            <label class="titulosBlanco leftCenter350"><img src="~/Contenido/img/new/disi3.png"> te da el poder de decir que SI</label><br />
        <label class="titulosBlanco leftCenter350"><img src="~/Contenido/img/new/disi3.png"> te da el poder de vender</label><br />
        <label class="titulosBlanco leftCenter350"><img src="~/Contenido/img/new/disi3.png"> a esa oportunidad que hará crecer tu negocio</label>
        </div>
        <hr style="width:80%" />
        <label class="titulosBlancoBold">Que nada te detenga: <img src="~/Contenido/img/new/disi3.png"></label><br />
    </div>
</section>