@Html.Partial("_menu")

<section id="paraque" class="fondoBlanco">
    <div style="padding: 40px">
        <label> </label>
    </div>
    <div class="col-md-16 text-center">
		<label class="btnPage">¿Para quién es <img src="~/Contenido/img/new/disiSinLeyPeq.png" style="width: 20%; height:20%;"> ? </label>
        <br /><br /><br /><br />
        <label class="titulos text-justify" style="width:60%">Solución pensada en empresarios como tú que necesitan acelerar el flujo de efectivo de su empresa, evitando que tengan que esperar los plazos comerciales acordados con sus clientes para cobrar sus ventas.</label>
	    <br/><br /><br/><br />
		<div class="row fondoNew1">
			<label class="titulosBlancoBold">Resulta irónico, pero los mejores clientes pagan a plazos.</label><br />
            <label class="titulosBlancoBold"><img src="~/Contenido/img/new/disi3.png"> Prepárate para ellos</label>
		</div>
    </div>
</section>

<section id="objetivos" class="fondoBlanco text-center">
    <div style="padding: 40px">
        <label> </label>
    </div>
    <div class="col-md-16">
        <label class="titulosGra text-center">Nuestros objetivos son:</label>
        <br /><br />
        <div class="text-left">
            <label class="titulos leftCenter350"><img src="~/Contenido/img/new/paloma_azul.png" width="30px" height="30px" /> Ser tu proveedor de recursos líquidos durante el plazo de cobro de facturas</label><br />
            <label class="titulos leftCenter350"><img src="~/Contenido/img/new/paloma_azul.png" width="30px" height="30px" /> Darte certeza para poder cumplir con las metas de ventas</label><br />
            <label class="titulos leftCenter350"><img src="~/Contenido/img/new/paloma_azul.png" width="30px" height="30px" /> Brindarte seguridad y confianza</label><br />
            <label class="titulos leftCenter350"><img src="~/Contenido/img/new/paloma_azul.png" width="30px" height="30px" /> Darle a tu negocio la posibilidad de decir que SÍ</label><br />
        </div>
        <br />
		<div class="row fondoNew2">
			<label class="titulosBlanco40Bold text-center">¿Qué nos hace únicos?</label>
            <br /><br />
            <div class="text-left">
                <label class="titulosBlanco25 leftCenter350"><img src="~/Contenido/img/new/paloma_blanca.png" width="30px" height="30px" /> Único producto de apoyo con recursos líquidos por cuentas por cobrar</label><br />
                <label class="titulosBlanco25 leftCenter350"><img src="~/Contenido/img/new/paloma_blanca.png" width="30px" height="30px" /> Servicio personalizado de excelencia</label><br />
                <label class="titulosBlanco25 leftCenter350"><img src="~/Contenido/img/new/paloma_blanca.png" width="30px" height="30px" /> Trámites y tiempos de respuesta ágiles</label><br />
                <label class="titulosBlanco25 leftCenter350"><img src="~/Contenido/img/new/paloma_blanca.png" width="30px" height="30px" /> Proceso 100% en línea; tu dinero en 3 clicks</label><br />
                <label class="titulosBlanco25 leftCenter350"><img src="~/Contenido/img/new/paloma_blanca.png" width="30px" height="30px" /> Dinero disponible mismo día</label>
		</div>
    </div>
    <div class="col-md-16 row fondoNew1">
        <label class="titulosBlancoBold text-center"> En pagos de facturas lejanos, tu ejecutivo <img src="~/Contenido/img/new/disi3.png"> siempre te dará un trato muy cercano.</label>
	</div>
</section>