.fondoPages {
	position: relative;
	background-image: url("../img/Fondo_Blanco.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	padding: 1em 1em 1em 1em;
	cursor: default;
}

.inicio {  
    background-image: url(../img/botones/btn_inicio.png);
    background-repeat: no-repeat;
    align-content:center;
}

.inicio:hover {
	background-image: url("../img/botones/btn_inicio_over.png");
    background-repeat: no-repeat;
    align-content:center;
}

.herramientas {  
    background-image: url("../img/botones/btn_herramientas_over.png");
    background-repeat: no-repeat;
    align-content:center;
}

.herramientas:hover {
	background-image: url("../img/botones/btn_herramientas_overG.png");
    background-repeat: no-repeat;
    align-content:center;
}

.titulosNegro {
	font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
	color: black;
}

.titulosNegro30 {
	font-family: Calibri;
    font-weight: bold;
    font-size: 30px;
	color: black;
}


.titulosNegro15 {
	font-family: Calibri;
    font-weight: bold;
    font-size: 15px;
	color: black;
}

.titulosNegro10 {
	font-family: Calibri;
    font-weight: bold;
    font-size: 10px;
	color: black;
}

.titulosRojos {
	font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
	color: red;
}

.titulosVerdes {
	font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
	color: green;
}

body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:focus, a:hover {
    text-decoration: none;
}
input[type="button"],input[type="submit"] {
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}

.fondoProblema {
    display: table;
    width: 100%;
    height: inherit;
    padding: 150px 0;
    text-align: center;
    color: #fff;
    background: url("../img/canales/fondo_problema.jpg") no-repeat bottom center scroll;
    background-color: #000;
    background-attachment: fixed;
    -webkit-background-size: 100% 90%;
    -moz-background-size: 100% 90%;
    background-size: 100% 90%;
    -o-background-size: 100% 90%;
    opacity: 0.9;
}

.fondoSolucion {
    display: table;
    width: 100%;
    height: inherit;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("../img/canales/fondo_solucion.jpg") no-repeat bottom center scroll;
    background-color: #000;
    background-attachment: fixed;
    -webkit-background-size: 100% 90%;
    -moz-background-size: 100% 90%;
    background-size: 100% 90%;
    -o-background-size: 100% 90%;
    opacity: 0.9;
}

.fondoProductosFinan {
    display: table;
    width: 100%;
    height: inherit;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("../img/canales/fondo_pf.jpg") no-repeat bottom center scroll;
    background-color: #000;
    background-attachment: fixed;
    -webkit-background-size: 100% 90%;
    -moz-background-size: 100% 90%;
    background-size: 100% 90%;
    -o-background-size: 100% 90%;
    opacity: 0.9;
}

.fondoProductosFinan2 {
    display: table;
    width: 100%;
    height: inherit;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("../img/canales/fondo_pf2.jpg") no-repeat bottom center scroll;
    background-color: #000;
    background-attachment: fixed;
    -webkit-background-size: 100% 90%;
    -moz-background-size: 100% 90%;
    background-size: 100% 90%;
    -o-background-size: 100% 90%;
    opacity: 0.9;
}

.fondoNosotros {
    display: table;
    width: 100%;
    height: inherit;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("../img/canales/fondo_nosotros.jpg") no-repeat bottom center scroll;
    background-color: #000;
    background-attachment: fixed;
    -webkit-background-size: 100% 90%;
    -moz-background-size: 100% 90%;
    background-size: 100% 90%;
    -o-background-size: 100% 90%;
    opacity: 0.9;
}

.fondoPreguntas {
    display: table;
    width: 100%;
    height: inherit;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url("../img/canales/fondo_preguntas.jpg") no-repeat bottom center scroll;
    background-color: #000;
    background-attachment: fixed;
    -webkit-background-size: 100% 90%;
    -moz-background-size: 100% 90%;
    background-size: 100% 90%;
    -o-background-size: 100% 90%;
    opacity: 0.9;
}

.fondoBlanco {
	background-color: white;
}

.fondoFooter {
	overflow: hidden;
	padding: 2em 0 2em 0;
	background-image: url("../img/fondo_contacto.jpg");
	color: #fff;
}

.fondoFooter {
	overflow: hidden;
	padding: 2em 0 2em 0;
	background-image: url("../img/fondo_contacto.jpg");
	color: #fff;
}

.fondoPagesNegro {
	background-image: url("Contenido/img/fondo.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	padding: 1em 1em 1em 1em;
	cursor: default;
}

.fondoPages2 {
	background-image: url("Contenido/img/Fondo_Blanco.jpg");
    background-repeat: repeat;
	color: #fff;
	text-align: center;
	padding: 10em 1em 5em 1em;
	cursor: default;
}

.fondoDetalles {
	position: relative;
    /**
	background-image: url("../img/detalles/fondoDetalleAzul.png");
    background-image: url("../img/detalles/fondoDetalles.jpg");
    background-color: white;
        */
    background-image: url("Contenido/img/detalles/fondoDetalleAzul.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.fondoDetalles2 {
	position: relative;
	background-image: url("Contenido/img/detalles/fondoDetalleAzul2.png");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.fondoDialog {
	position: relative;
	background-image: url("Contenido/img/fondo2.png");
    background-repeat: repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	padding: 1em 1em 1em 1em;
	cursor: default;
}

.fondosHeader {
	font-family: Calibri;
	font-weight: 400;
	color: white;
    background: rgb(65, 113, 156);
}

.titulosGraBold {
	font-family: Calibri;
    font-weight: bold;
    font-size: 35px;
	color: rgb(65, 113, 156);
}

.titulos {
	font-family: Calibri;
    font-size: 25px;
	color: #528ABB;
}
.titulosGra {
	font-family: Calibri;
    font-size: 35px;
	color: #528ABB;
}
.titulosPeq {
	font-family: Calibri;
    font-size: 15px;
	color: rgb(65, 113, 156);
}

.titulos20 {
	font-family: Calibri;
    font-size: 20px;
	color: rgb(65, 113, 156);
}

.labelAzul {
	font-family: Calibri;
	font-weight: bold;
	color: rgb(65, 113, 156);
    font-size: 18px;
}

.labelAzulRey {
	font-family: Calibri;
	font-weight: bold;
	color: #2D2B6B;
    font-size: 18px;
}

.titulosBlanco10 {
	font-family: Calibri;
    font-size: 10px;
	color: white;
}

.titulosBlanco15 {
	font-family: Calibri;
    font-size: 15px;
	color: white;
}

.titulosBlanco {
	font-family: Calibri;
    font-size: 20px;
	color: white;
}
.titulosBlancoBold {
	font-family: Calibri;
    font-weight: bold;
    font-size: 25px;
	color: white;
}


.panel1 {
    border-radius: 4px 63px 4px 63px;
    -moz-border-radius: 4px 63px 4px 63px;
    -webkit-border-radius: 4px 63px 4px 63px;
    border: 25px none rgb(65, 113, 156);
}

.centerBody{
    align-content:center;
}

.fillImage {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: 100%;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
.campaniasStyle {
  padding: 3em 1em 0.5em 0.5em;
}



#anima {
	margin: 0 auto;
}

#anima img {
	margin: 20px;
	border: 5px solid #eee;
	-webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

#anima img:hover {
	-webkit-transform: rotate(-7deg);
	-moz-transform: rotate(-7deg);
	-o-transform: rotate(-7deg);
}

.transpDisi {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: alpha(opacity=60);
}

.chatDisi {
    background-image: url("Contenido/img/chat-icon.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: alpha(opacity=60);
  /*
  background-color: rgba(0,0,0,.5) ;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#88ff0000', EndColorstr='#88ff0000');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorstr='#88ff0000', EndColorstr='#88ff0000');
  */
}

.verticalLine {
    border-left: thick solid #ff0000;
}

.cuadroBorder {
    -webkit-box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.75);
    
    border-radius: 25px 25px 25px 25px;
    -moz-border-radius: 25px 25px 25px 25px;
    -webkit-border-radius: 25px 25px 25px 25px;
    border: 4px solid #0D85B4;
    
    color: #253390;
}


.hrCustom {
   background-color: rgba(65, 113, 156, 0.9); 
   width:90%; 
   height: 7px; 
   margin-top: 7px; 
   margin-bottom: 7px;
}

.fondoNew1 {
    padding: 50px 0px;
    background: #74AFF5;
}

.btnPage {
    background-color: rgb(65, 113, 156);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(65, 113, 156);
    padding: 8px 13px;
    
    font-family: Calibri;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 3px 3px 3px black;
}

.btnCLientes {
    background-color: rgb(65, 113, 156);
    color: white;
    border-radius: 8px;
    border: 2px solid rgb(65, 113, 156);
    padding: 8px 13px;
}

.btnCLientes:hover {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 8px 13px;
}

.btnContacto {
    background-color: white;
    color: black;
    border: 2px solid #E7E7E7;
    border-radius: 8px;
    padding: 8px 13px;
}

.btnContacto:hover {
    background-color: #E7E7E7;
    border-radius: 8px;
    padding: 8px 13px;
}
